@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f1ffee;
    color: #333;
}
header{
    font-family: "DM Serif Display", serif;
    font-size: 20pt;
    background-color: #c1ff72;
    height: 100px;
}
main{
    min-height: calc(100vh - 100px);
}
header .nav-bar{
    height: 100%;
    width: 100%;
}
header .nav-list{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style: none;
}
header .nav-list li{
    width: 18%;
}
header .nav-list li a{
    text-decoration: none;
    color: #000;
    transition: 200ms
}
header .nav-list li a:hover:not(.img-link){
    color: #fff;
    background-color: #0002;
    border-radius: 5px;
}
.img-link:hover{
    filter: brightness(0.8);
}
header .nav-list li .current-page:not(.img-link){
    color: #299a92;
    text-decoration: underline;
}
.logo{
    height: 180px;
    transform: translateY(25%);
}
.main-article{
    margin: 70px auto;
}
.content-section{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.content-div{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-div h2{
    text-align: center;
    margin-bottom: 15px;
}
.content-div p{
    text-align: justify;
}
.calculator-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 60px auto;
    padding: 20px;
}
.result-div{
    width: 80%;
    margin: 20px auto;
}
.calculator-form input, button, select{
    padding: 10px;
    border: 1px solid #0002;
    border-radius: 5px;
    font-size: 14pt;
}
.calculator-form button{
    background-color: #c1ff72;
    color: #000;
    cursor: pointer;
    transition: 200ms;
    margin-top: 20px;
}
.calculator-form button:hover{
    background-color: #74a535;
    color: #fff;
}

#contadeluz {
    width: auto;
    height: 300px;
    border-radius: 2%;
}

#seloprocelo {
    width: 400px;
    height: 400px;
}

#industria{
    width: auto;
    height: 300px;
    border-radius: 2%;
}

#procel {
    width: auto;
    height: 400px;
}

#inmetro {
    width: auto;
    height: 250px;
}

@media (max-width: 860px) {
    .content-section{
        flex-direction: column;
        height: auto;
    }
    .content-div{
        width: 90%;
        height: auto;
    }
    header .nav-list li{
        width: 100%;
        height: 40px;
    }
    header .nav-list li a{
        font-size: 14pt;
    }
    .nav-list{
        flex-direction: column;
        gap: 10px;
    }
    .nav-list li:nth-child(3){
        display: none;
    }
    header{
        height: 210px;
    }
}
